.history{
    max-width:900px;
    margin:80px auto;
    padding:20px;
    color:#fff;
}

.history h2{
    text-align:center;
    margin-bottom:30px;
    font-size:35px;
}

.search-box{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.search-box input{
    flex:1;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#222;
    color:#fff;
}

.search-box button{
    padding:14px 25px;
    border:none;
    border-radius:10px;
    background:#f7b500;
    color:#111;
    font-weight:bold;
    cursor:pointer;
}

.table-box{
    background:#111;
    border-radius:15px;
    overflow:hidden;
    overflow-y:auto;
    max-height:450px;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    position:sticky;
    top:0;
    background:#f7b500;
}

th{
    color:#111;
    padding:15px;
}

td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #222;
}

tbody tr:nth-child(even){
    background:#181818;
}

tbody tr:hover{
    background:#252525;
}

td:last-child{
    color:#f7b500;
    font-weight:bold;
}

@media(max-width:600px){

.search-box{
    flex-direction:column;
}

.search-box button{
    width:100%;
}

.history h2{
    font-size:28px;
}

}